server:
  port: 80
spring:
  application:
    name: nacos-order-consumer
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.0.106:8848
# 消费者将要去访问的微服务名称
service-url:
  nacos-user-service: http://nacos-payment-provider